footer{
    background-color: gray
}
main {
    background-color: $background-color;

}

.maincontactos {
    background-color: white;
}

.cuerpo {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
}