
h1{
    color: $color-pink;
}
h2 {
    color: $color-yellow; 
    font-family: $tipografia-principal;
    font-size: 30px;
    text-align: center;
}

h3 {
    color: $color-pink;
    font-family: $tipografia-principal;
    font-size: 25px;
}
h4{ color: white;
}

p {
    color: white;
    font-family: $tipografia-principal;
    font-weight: 300;
    font-size: 20px;
}





